.hero-box {
    margin-top: 10%;
}

.hero-paragraph{
    font-size: 3rem;
}

.paragraph {
    font-family: 'Poppins';
}
.name-span {
    font-family: 'Poppins';
    font-weight: 900;
    font-size: 3.5rem;
}
.fisrt-span{
    font-family: 'Vast Shadow';
}
.second-span {
    font-family: 'Cutive Mono';
}

.hero-pic img {
    max-width: 400px; 
    animation: subtle-move 4s ease-in-out infinite;
    transform-origin: center;
    display: inline-block;
}

@keyframes subtle-move {
    0%   { transform: translateY(0) rotate(0deg); }
    50%  { transform: translateY(-25px) rotate(3deg); }
    100% { transform: translateY(0) rotate(0deg); }
  }

/* phone media */

@media (max-width: 708px) {
.hero-paragraph {
    font-size: 1.8rem;
    /* backdrop-filter: blur(1000px);
    background: rgba(255, 255, 255, 0.1); */
}
.hero-box{
    flex-wrap: wrap;
}
.hero-pic{
    transform: translate(0px,-150px);
}
}
