.main-header {
    font-family: "Montserrat";
    font-size: 1rem;
    height: 100px;
    padding: 0 1rem;
  }
  
  .main-header div {
    width: max-content;
  }
  
  .main-header nav {
    width: max-content;
  }
  
  .main-header ul {
    gap: 3rem;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .main-header a {  
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: inherit;
    margin: 0 var(--spacing, 0px);
    transition: margin 0.6s;
  }
  .main-header a:hover {
    --spacing: 4px;
    --stroke: var(--line-active);
    --stroke-delay: 0.1s;
    --offset: 180px;
    --text: #2B3044;
    --line: #BBC1E1;
    --line-active: #7a89b7;
  }  

  .main-header a svg {
    width: 76px;
    height: 40px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 7px) translateZ(0);
    fill: none;
    stroke: var(--stroke, var(--line));
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;
    transition: stroke 0.25s ease var(--stroke-delay, 0s), stroke-dasharray 0.55s;
  }
  
  /* phone media */
  @media (max-width: 708px) {
    .main-header {
      flex-direction: column;
      align-items: flex-start;
      height: auto;
      gap: 1rem;
      padding: 1rem;
    }
  
    .main-header div,
    .main-header nav {
      justify-content: center;
    }
    .main-header nav {
        width: 100%;
    }
  
    .main-header ul {
      align-items: flex-start;
      gap: 0.4rem;
    }
  }
  